[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-blinka = "*"
adafruit-blinka-displayio = "*"
adafruit-circuitpython-asyncio = "*"
adafruit-circuitpython-displayio-layout = "*"
adafruit-circuitpython-ticks = "*"
adafruit-circuitpython-typing = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
