[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-typing = "*"
adafruit-circuitpython-asyncio = "*"
adafruit-circuitpython-ticks = "*"

[dev-packages]

[requires]
python_version = "3.10"
